{% extends "layout.html" %}

{% block content %}
    <section>
        <div class="container" style="padding-top: 40px;">
            <div class="row">
                <ol class="breadcrumb">
                    <li>Artist</li>
                    <li class="active"><a href="{% url 'artist' artist=name %}">{{ name }}</a></li>
                </ol>
            </div>
            <br>
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img class="img-circle" src="{{ image }}">
                </div>
                <div class="col-md-7">
                    <h1>{{ name }}</h1>
                    {% if tags|length > 1 %}
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;
                        {% for tag in tags %}
                            <a href="{% url 'tag' tag=tag %}">
                                <span class="label label-info">{{ tag }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                    <br><br>
                    <p>{{ summary }}</p>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 align="center">Top Albums</h4>
                        {% for album in top5 %}
                            <br>
                            <div class="row">
                                <div class="col-sm-5 text-right">
                                    <img class="img-rounded" src="{{ album.1 }}" height="84" width="84">
                                </div>
                                <div class="col-sm-5" style="top: 50%;">
                                    <br>
                                    <a href="{% url 'album' artist=name album=album.0 %}" style="font-weight: bold; color:black">{{ album.0 }}</a>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                    <div class="col-sm-4">
                        <h4 align="center">Top Songs</h4>
                        {% for song in songs5 %}
                            <br>
                            <div class="row">
                                <div class="col-sm-5 text-right">
                                    <img class="img-rounded" src="{{ song.1 }}" height="84" width="84">
                                </div>
                                <div class="col-sm-5">
                                    <br>
                                    {{ song.0 }}
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                    <div class="col-sm-4">
                        <h4 align="center">Related</h4>
                        {% for artist in similars %}
                            <br>
                            <div class="row">
                                <div class="col-sm-5 text-right">
                                    <img class="img-circle" src="{{ artist.1 }}" height="84" width="84">
                                </div>
                                <div class="col-sm-5">
                                    <br>
                                    <a href="{% url 'artist' artist=artist.0 %}" style="font-weight: bold; color:black">{{ artist.0 }}</a>
                                </div>
                            </div>
                            <br>
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        {% if lengthNews != 0 %}
        <div style="width:800px; margin:0 auto;">
            <div class="container">
            <h2>Latest News from {{ name }}</h2>
                <!--   INSERT FOR HERE   NEWS-->
                {% for noticia in news %}
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        <img class="img-rounded" height="95" width="95" src="{{ noticia.image }}" alt="{{ noticia.title }}">
                    </div>
                    <div class="col-sm">
                        <a href="{{ noticia.link }}" style="color:black"><h4 class="media-heading">{{ noticia.title }}</h4></a>
                        {{ noticia.description }}
                        <h6>Source: {{ noticia.author }} ({{ noticia.pubDate }})</h6>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </section>
    <br><br>
    {% include 'comment.html' %}
{% endblock %}
