{% extends "layout.html" %}

{% block slider %}
    {% load staticfiles %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'images/slide1.jpg' %}">
                <div class="carousel-caption">
                    <h1>Welcome to <font style="font-family: 'Righteous', cursive;">xPand</font></h1>
                    <p class="lead">Your Music Hub.</p>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/slide2.jpg' %}">
                <div class="carousel-caption">
                    <h1>Know more of your favorite artists</h1>
                    <p class="lead">We collect the best information for you!</p>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/slide3.jpg' %}">
                <div class="carousel-caption">
                    <h1>Find out who's on top</h1>
                    <p class="lead">The best artists, songs and albums</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    <a href="{% url 'news' %}">
                        Latest News
                    </a>
                </h2>
                <div class="container">
                    <br>
                    {% for noticia in news %}
                        {% if forloop.counter|divisibleby:"2" %}
                            <div class="row" style="padding-right: 50px;">
                        {% endif %}

                        <div class="col-sm-5">
                            <div class="card">
                                <img class="img-rounded" src="{{ noticia.image }}" height="250" width="250">
                                <div class="card-block">
                                    <a href="{{ noticia.link }}">
                                        <h4 class="card-title" style="width: 100%;">{{ noticia.title }}</h4>
                                    </a>
                                    <p class="card-text" style="width: 100%;">{{ noticia.description }}</p>
                                    <a href="{{ noticia.link }}" class="btn btn-primary" style="background-color: #4cae4c; border-color: #4cae4c">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>

                        {% if forloop.counter|divisibleby:"2" %}
                            </div>
                            <br><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="col-md-4 panel panel-default">
                <div class="nav panel-tabs">
                    <ul class="panel-heading nav nav-pills nav-justified green">
                        <li role="presentation" class="active" style="font-weight: bold">
                            <a href="#artists" data-toggle="tab">Top Artists</a>
                        </li>
                        <li role="presentation" style="font-weight: bold"><a href="#albums" data-toggle="tab">Top Tracks</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content clearfix">
                        <!-- TOP ARTISTAS -->
                        <div class="tab-pane panel-body active" id="artists">
                            <div class="container" style="padding-left: 5px; padding-right: 5px;">
                                {% for artista in topArtists %}
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img class="img-circle" height="60" width="60" src="{{ artista.1 }}">
                                        </div>
                                        <div class="col-sm-8">
                                            <br>
                                            <a href="{% url 'artist' artist=artista.0 %}" style="color: black">
                                                <h4 class="media-heading">{{ artista.0 }}</h4>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- TOP TRACKS -->
                        <div class="tab-pane" id="albums">
                            <div class="container">
                                {% for track in topTracks %}
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img class="img-rounded" height="60" width="60" src="{{ track.2 }}">
                                        </div>
                                        <div class="col-sm-8">
                                            <h3 class="media-heading">{{ track.1 }}</h3>
                                            by
                                            <a href="{% url 'artist' artist=track.0 %}" style="font-weight: bold">
                                                {{ track.0 }}
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
