<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}" />
    <link href="{% static 'fonts/righteous.css' %}" rel="stylesheet">
    <script src="{% static 'scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-inner">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand" style="font-family: 'Righteous', cursive;">
                    <img src="{% static 'images/panda.png' %}" width="24" height="24">
                    xPand
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'topArtists' %}">Top Artists</a></li>
                </ul>

                <div class="col-sm-3 col-md-3 navbar-right">
                    <form action='{% url 'search' %}' method="post" class="navbar-form" role="search">
                        {% csrf_token %}
                        <div class="input-group">
                            {{ form.searchCriteria }}
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block slider %}
    {% endblock %}

    <div class="container body-content">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p></p>
        </footer>
    </div>

    <script src="{% static 'scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.js' %}"></script>
    <script src="{% static 'scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
