{% extends "layout.html" %}

{% block content %}
    <div class="container" style="padding-top: 40px;">
            <div class="row">
                <ol class="breadcrumb">
                    <li>Top</li>
                    <li class="active">Top Countries</li>
                </ol>
            </div>
        </div>
    <div style="width:800px; margin:0 auto;">
        <div class="container">
        <br>
            <div class="row">
                <h1 align="center">Top Countries</h1>
                <div class="container">
                    {% if countries %}
                        {% for country in countries %}
                            <br>
                            <h2>
                                {{ country.0 }}
                                <img src="/static/images/blank.gif" class="flag flag-{{ country.1 }}"/>
                            </h2>
                            <br>
                            {% for artist in topArtists %}
                                <div class="row">
                                {% for key in artist %}
                                    {% if key.country == country.0 %}
                                        {% if artist|length == 1 %}
                                        <div class="col-sm-12 text-center">
                                        {% elif artist|length == 2 %}
                                        <div class="col-sm-6 text-center">
                                        {% elif artist|length == 3 %}
                                        <div class="col-sm-4 text-center">
                                        {% else %}
                                        <div class="col-sm-3 text-center">
                                        {% endif %}
                                            <a href="{% url 'artist' artist=key.name %}">
                                                <img class="img-circle" height="150" width="150" src="{{ key.image }}">
                                            </a>
                                            <br><br>
                                            <a href="{% url 'artist' artist=key.name %}" style="color: black;">
                                                <h4 class="media-heading text-center">
                                                    {{ key.name }}
                                                </h4>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endfor %}
                            <br>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <h3 class="text-center" style="padding-top: 150px; padding-bottom: 150px;">
                                Sorry, no artists and countries found. How about search for it?
                            </h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}