body {
    padding-top: 40px;
    padding-bottom: 0px;
    font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel .item {
  height: 450px;
}
.carousel img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-width: 100%;
    margin: auto;
    height: 450px;
}

/**/

.panel-body {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/**/

#myFooter .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

a {
    color: #4cae4c;
}

a:hover {
    color: #4cae4c;
}

.green .active a,
.green .active a:hover {
    background-color: #4cae4c;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: #4cae4c;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover,
.pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #4cae4c;
    border-color: #4cae4c;
}

.breadcrumb {
    font-weight: bold;
}

.label-info {
    background-color: #4cae4c;
    border-color: #4cae4c;
}

.img-circle {
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 1px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.img-rounded {
    border: 1px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.navbar-inverse .navbar-nav>li>a {
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}

.modal-content iframe{
    margin: 0 auto;
    display: block;
}